<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/user_dashboard.css" />
    <link rel="stylesheet" href="/public/lib/css/bootstrap.min.css" />
    <script src="/public/lib/js/bootstrap.min.js"></script>
    <script src="/public/lib/js/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <%- include('templates/rooms_heading.ejs', { user: user ? user : null }) %>

    <div class="main-container">
      <div class="page-header">
        <h1>Dashboard</h1>
      </div>
      <div class="messages">
        <div class="left-side">
          <p>Username: <%= user.username %></p>
          <p>Total Messages Sent Today: <%= user.msgs_sent_today %> </p>
          <p>Total Messages Sent: <%= user.msgs_sent_total %> </p>
          <br>
          <p>Rooms Joined: <%= user.rooms_joined_total %> </p>
        </div>
        <div class="right-side"></div>
      </div>
    </div>
  </body>
</html>
