<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/user_dashboard.css" />
    <link rel="stylesheet" href="/public/lib/css/bootstrap.min.css" />
    <script src="/public/lib/js/bootstrap.min.js"></script>
    <script src="/public/lib/js/jquery-3.6.0.min.js"></script>
    <script src="/public/js/user_dashboard.js"></script>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <!-- Include the navbar and pass in the rendering user -->
    <%- include('templates/rooms_heading.ejs', { user: user.renderingUser ? user.renderingUser : null }) %>

    <div class="main-container">
      <div class="page-header">
        <h1>Dashboard</h1>
        <!-- add user and link -->
        <h4><a href="/user/<%= user.uid %>"><%= user.username %></a></h4>
      </div>
      <div class="messages">
        <div class="left-side">
          <!-- user details -->
          <table>
            <tr>
              <td><p>Username:</p></td>
              <td><p><%= user.username %></p></td>
            </tr>
            <tr>
              <td><p>Total Messages Sent:</p></td>
              <td><p><%= user.msgs_sent_total %></p></td>
            </tr>
            <tr>
              <td><p>Rooms Joined:</p></td>
              <td><p><%= user.rooms_joined_total %></p></td>
            </tr>
            <tr>
              <td><p>Favourite Room:</p></td>
              <!-- if there is a favourite room, use it -->
              <% if (user.favRoom) { %>
                <td><p><%= user.favRoom.room_name %></p></td>
              <% } else { %>
                <td><p>None</p></td>
              <% } %>
            </tr>
          </table>

          <!-- module to select a favourite room. Turned off by setting rooms to false -->
          <% if (rooms) { %> 
          <div class="favouriteRoom">
            <button class="btn openSetFavRoom btn-sm">Change</button>
            <div class="setFavRoomContainer">
              <button class="btn setFavRoomBtn">Set Favourite Room</button>
              <select class="rid dropdown">
                <!-- iterate through rooms and add them as an option to the html select feild -->
                <% for(room in rooms) { %>
                  <option value="<%= rooms[room].room_name %>"><%= rooms[room].room_name %></option>
                <% } %>
              </select>
            </div>
          </div>
          <% } %> 
        </div>
        <div class="right-side"></div>
      </div>
    </div>
  </body>
</html>
